<div class="terminal-window" (click)="focusInput()">

  @if (isLight()) {
    <div class="light-overlay">
      <div class="light-character-wrapper">
        <img src="pixel-programmer.gif" alt="pixel dev" class="contact-pixel-char" />
        <div class="dark-speech-bubble">
          <p class="dark-speech-text">{{ i18n.t('contact.light_crime') }}</p>
          <p class="dark-speech-sub">{{ i18n.t('contact.light_bubble') }}</p>
          <p class="dark-speech-sub">{{ i18n.t('contact.light_run') }}</p>
        </div>
      </div>
    </div>
  }

  <div class="terminal-body" #terminalBody>
    @for (line of history(); track $index) {
      <div class="terminal-line" [class]="line.type">
        {{ line.text }}
      </div>
    }
  </div>

  <div class="terminal-input-row" [class.error-mode]="isError()">
    <span class="prompt">C:\Recruiters\Contact&gt;</span>
    <input
      #terminalInput
      type="text"
      class="terminal-input"
      [(ngModel)]="currentCommand"
      (keydown)="onKeydown($event)"
      autocomplete="off"
      spellcheck="false"
    />
    <span class="cursor">_</span>
  </div>

</div>